<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<!-- Unique identifier for this launchd job -->
		<key>Label</key>
		<string>com.julsh.capslock_to_backspace.sh</string>
		<!-- Path to the script that will be executed -->
		<key>Program</key>
		<string>/Library/Scripts/capslock_to_backspace.sh</string>
		<!-- Run the script when the system loads -->
		<key>RunAtLoad</key>
		<true/>
		<!-- Ensure the script only runs once per system boot -->
		<key>LaunchOnlyOnce</key>
		<true/>
	</dict>
</plist>
